/* Hide scrollbar for Chrome, Safari and Opera */
.animation::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.animation {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}



/*視差滾動*/

.animation,
.animation_layer {
  height: 100%;
}

.animation {
  /* display: block; */
  position: relative;
  z-index: 1;
}


/*視差滾動平板*/

@media (max-width: 768px) {}



/*視差滾動手機*/
@media (max-width:376px) {
  .animation_layer.parallax {
    background-size: 150% auto;
    height: 667px;
  }

  #textblock-container {
    margin-top: 0px;
  }

  #textblock-title {
    font-size: 15px;
  }

  #textblock-p {
    font-size: 8px;
  }

  #textblock-content {
    font-size: 10px;
  }

  #mountain {
    height: 650px;
  }


  #jungle1 {
    right: 30px;
    bottom: 50px;
  }

  #jungle2 {
    left: 50px;
    bottom: 50px;

  }

  #jungle3 {
    height: 670px;
  }

  #jungle4 {
   
    height: 600px;
  }


}

.animation_layer {
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
}

.animation_layer.parallax {
  position: relative;
  
}

#artback {
  background-image: url(../../../../public/images/background.png);
  background-size: cover;
  background-position: center;
}

#mountain {
  background-image: url(../../../../public/images/night1.png);
  background-size: cover;
  background-position: left;
}

#logoland {
  background-image: url(../../../../public/images/night2.png);
  background-position: right;
}

#jungle1 {
  background-image: url(../../../../public/images/night3.png);
  background-position: left;
}

#jungle2 {
  background-image: url(../../../../public/images/night4.png);
  background-position: right;


}

#jungle3 {
  background-image: url(../../../../public/images/night5.png);
  background-position: bottom;
}

#jungle4 {
  background-image: url(../../../../public/images/night6.png);
  background-position: center;
}

#jungle5 {
  background-image: url(../../../../public/images/night7.png);
  background-position: center;
}

