.whatdo-container {
    width: 100%;
    height: 100%;

    background: linear-gradient(180deg, #171753, #211466, #3d108f, #181850);
}

.whatdo-content h3 {
    padding-top: 5%;
    font-size: 19px;
    font-family: 'Courier New', Courier, monospace;
}

.whatdo-title {
    z-index: 1;

    position: absolute;
    color: azure;
    font-family: '123';
    font-size: 40px;
    letter-spacing: 5px;
    text-shadow: 0px 0px 9px white;
}

.whatdo-content {
    padding: 10%;
    position: absolute;
    width: 100%;
    color: antiquewhite;

}



Canvas {
    margin-left: 20%;

}

/*手機*/
@media (max-width:376px) {
    .whatdo-title {
        margin-top: 10%;
        width: 20%;
        font-size: 18px
    }
    .whatdo-content h3 {
        padding-top: 55%;
   
        font-size: 12px;
    }

   
    
}