.whatdo-container {
    width: 100%;
    height: 100%;

    background: linear-gradient(180deg, #171753, #211466, #3d108f, #181850);
}

.whatdo-content h3 {
    padding-top: 10%;
    font-size: 20px;
    line-height: 170%;
    text-align: left;
    font-family: 'ariel';
}


.whatdo-title {
    z-index: 1;

    position: absolute;
    color: azure;
    font-family: '123';
    font-size: 40px;
    letter-spacing: 5px;
    text-shadow: 0px 0px 9px white;
}

.whatdo-content {
    margin-top: 4%;
    padding: 10%;
    position: absolute;
    width: 100%;
    color: antiquewhite;
    letter-spacing: 3px;
    text-shadow: 0px 0px 9px white;
}



#modelContainerr {
    z-index: 1;
    height: 100vh;

    width: 100%;
    background-color: none;
    margin-left: 20%;

}

/*searchbar*/

#button-addon2 {
   
    z-index: 1;
    margin-top: 5%;
    width: 100%;
    
    height: 50px;
   
}


#button-addon2 h2{
font-family: '123';
font-size: 25px;
}

.search-title {
  
 
    position: absolute;
   
}


/*平板*/
@media (max-width:768px) {
    .whatdo-title {

        font-size: 30px
    }

    .whatdo-content h3 {
        font-size: 13px;
    }

    .searchbar {
        z-index: 1;
        margin-top: 20%;
        width: 100%;
        height: 50px;
    }

    #modelContainerr {
        width: 100%;
        top: 10%;
        right: 20%;
    }


}

/*手機*/
@media (max-width:390px) {
    .whatdo-title {
        margin-top: 10%;
        width: 100%;
        font-size: 16px
    }

    .whatdo-content h3 {
        margin-top: 20%;

        font-size: 6px;
    }

    .search-title {
        font-size: 6px;

    }

    .searchbar {
        margin-top: 25%;
    }


}