.sign-bg {
    width: 100%;

    background-image: url(https://img.onl/2HcZr);
    border-radius: 10%;
    margin-top: 10%;
    padding: 150px 150px 200px 150px;
    color: aliceblue;
}

.emailinput{
    width: 100%;
 
}



.sign {
    border:0;
    outline:none;
    border-radius:0;
    padding:15px 0;
    font-size:1rem;
    transition:all.5s ease;
    text-align: center;
    height: 50px;

    background-color: aliceblue;
    border-radius: 2%;
    text-decoration: none;
}

input {
    width: 100%;
}

.signbutton button {
    color: aliceblue;
    width: 100%;
    background-color: rgb(119, 66, 216);
    margin-top: 1%;
    border-radius: 1%;
}

.google button {
    color: aliceblue;
    width: 100%;
    background-color: rgb(119, 66, 216);
    margin-top: 1%;
    border-radius: 1%;
}



.signup {

    background-color: rgb(214, 214, 214);
    width: 100%;
}