/*footer*/
h4 {
  font-family: '123';
  font-size: 1.5rem;
}

.footer {
  height: auto;
  width: 100%;
  margin: 0;
}

.footer-container {
  width: 100%;
}

/* footer up */
.footer-up {
  height: 100%;
  width: 100%;
  display: flex;
  background-image: url(https://img.onl/oNsd75);
  justify-content: center;
  padding: 2rem;
}

/* footer down */

.generic-anchor {
  margin: 2%;
  color: #f8f6ff;
}

.footer-down {
  background: none;
  width: 100%;
  display: flex;

  padding: 2rem;
  flex-wrap: wrap;
}

footer .icons {
  width: 100%;
  padding-left: 20%;
  margin-top: 1rem;
}

/* left area */
.your-home {
  margin-left: 18%;
  width: 100%;

  color: #fefefe;
  font-family: 'Cambria, Cochin, Georgia, Times, ' Times New Roman', serif';
}

.footer-icon {
  color: #8496b1;
  margin-right: 2rem;
}

.footer-icon :hover {
  color: #fcfcfc;
  transition: 0.5s;
}

/* right area */
.footer-down-right {
  margin-right: 10%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-self: baseline;
}

.licontainer {
  margin-right: 30%;
}

.licontainer li {
  list-style-type: none;
  padding: 4px;
}

.icons li :hover {
  color: #f8f6ff;
}

ul {
  padding: 0;
  margin: 0;
}

.footer-options {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.footer-about {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 0.4rem;
  padding-right: 30%;
}

.options-title {
  color: #fbfaf9;
  font-size: 1rem;
  font-weight: bold;
}

.options {
  color: #8496b1;
}

.footer-line {
  margin: 2rem auto 30px;
  padding: 0;
  width: 100%;
  border: 0;
  border-top: solid 0.5px;
  border-color: #ffffff;
  opacity: 1;
}

.footer-line-2 {
  margin: 0rem auto 10px;
  padding: 0;
  width: 100%;
  border: 0;
  border-top: solid 1px;
  border-color: #ffffff;
  opacity: 1;
}

.copyright {
  display: flex;
  font-size: 13px;
  justify-content: center;
  color: #fffffe;
}

@media (max-width: 390px) {



  .your-home {
    margin-left: 0%;
   
  }
.header-title{
  white-space: nowrap;
  justify-content: center;
}

  .icons {
    display:flex;
    justify-content: center;
  }
  .footer {
    margin-bottom: 20%;

  }

 

  .footer-about {
    display: block;
    font-size: 6px;
    white-space: nowrap;
    width: 100%;
    justify-content: center;
    margin-bottom: 1rem;
    padding-right: 10%;
  

    
  }

  .footer-options {
    margin-left: 0%;
 
  }
}

@media (max-width: 768px) {
  .footer-down-right {
    flex-direction: column;
  }

  .footer-icon {
    width: 1.2rem;
    height: 1.2rem;
  }
}

@media (max-width: 992px) {
  .subscribe {
    width: 80%;
  }

  .subscribe-box {
    display: flex;
    justify-content: flex-end;
    font-size: 0.6rem;
  }

  .subscribe-email {
    width: 100%;
    margin-bottom: 1rem;
  }

  footer .icons {
    width: 100%;
  }

  .footer-down {
    width: 80%;
  }

  .footer-options {
    display: flex;
    flex-wrap: wrap;
  }

  .footer-about {
    width: 50%;
  }

  .footer-help {
    width: 50%;
  }

  .footer-shop {
    width: 50%;
  }

  .div-subscribe-btn {
    width: 35%;
  }
}