@font-face {
    font-family: '123';
    src: local("123"),
      url('/fonts/1.OTF') format("woff");
  }

.navlink {
    text-align: left;
    font-weight: 800;
    font-size: 14px;
    font-family: "123";
    letter-spacing: 0.3rem;
    opacity: 1;
}



.navlink :hover {
    color: #ffffff;
    animation: forwards;
    transition: 0.5s;
    /* border-style: solid;
    border-width: 1px;
    border-radius: 15%; */
}

.navbarCustom {
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 80px;
    color: rgb(255, 255, 255);
    background-color: none;
}

@media (max-width: 768px) {
    .navlink{
        white-space:nowrap;
    }
}