.formFrame {
    /* background: #190f18; */
    border-radius: 4px;
    border: none;
    box-sizing: border-box;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25); */
    color: rgba(0, 0, 0, 0.8);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: antiquewhite;
    letter-spacing: 2px;
    text-shadow: 0px 0px 9px white;
    font-size: 20px;
    font-weight: 700;
    display: block;
    padding: 0.5em 1em;
    max-width: 400px;
    width: max-content;
    height: max-content;
    position: fixed;
    top: 50%;
    right: 10%;
    transform: translate(0%, -50%);

}

.formShort {
    width: 50%;
    opacity: 0.9;
}

.formLong {
    width: 100%;
    opacity: 0.9;
}

#formMessage {
    width: 100%;
    height: 200px;
    opacity: 0.9;
}

@media (max-width:768px) {
    .formFrame {
        right: 0%;
        transform: translate(0%, -50%);
        display: none;
    }

  }