.disableScroll::-webkit-scrollbar {
  display: none;
}

.disableScroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.animation_layer {
  position: relative;
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 105%;
  width: 100%;
}

#artback {
  background-image: url(./images/background.png);
  background-size: cover;
  background-position: center;
}

#aboutFooter,.footer{
  position: absolute !important;
  bottom: -5px !important;
}

/*視差滾動手機*/
@media (max-width:376px) {
  .animation_layer.parallax {
    background-size: 150% auto;
    height: 667px;
  }

  #textblock-container {
    margin-top: 0px;
  }

  #textblock-title {
    font-size: 15px;
  }

  #textblock-p {
    font-size: 8px;
  }
}

 