#musicLayout {
    /* display: grid;   
    grid-template-rows: auto auto auto 1fr auto; */
    width: 100%;
    background: linear-gradient(180deg, #1e1e5c, #12124d, #1b152d, #4f3e95, #181850);
}

.musicBanner {
    /* display: block; */
    /* position: relative;
    top: 80px;
    left: 50%;
    transform: translate(-50%, 0); */
    width: 800px;
    height: 200px;
    background: #fff;
    border-radius: 4px;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    color: rgba(0, 0, 0, 0.8);
    overflow-wrap: break-word;
    font-family: 'Orbitron', sans-serif;
    font-size:30px;
    font-weight: 700;
    padding: 0.5em 1em;
}

#musicItems {

}