/*footer*/
h4 {
  font-family: '123';
  font-size: 1.5rem;
}

.footer {
  height: auto;
  width: 100%;
  height: 120%;
  margin: 0;
}

.footer-container {
  width: 100%;
  height: 100%;
}

/* footer up */
.footerUp {
  height: 100%;
  width: 100%;
  display: flex;
  background-image: url(https://img.onl/oNsd75);
  justify-content: center;
  padding: 2rem 2rem 0;
}

/* footer down */

.generic-anchor {
  margin: 2%;
  color: #f8f6ff;
}

.footerDown {
  background: none;
  width: 100%;
  display: flex;

  padding: 2rem;
  flex-wrap: wrap;
}

footer .icons {
  width: 100%;
  padding-left: 20%;
  margin-top: 1rem;
}

/* left area */
.yourHome {
  margin-left: 18%;
  width: 100%;

  color: #fefefe;
  font-family: 'Cambria, Cochin, Georgia, Times, ' Times New Roman', serif';
}

.footerIcon {
  color: #8496b1;
  margin-right: 2rem;
}

.footerIcon :hover {
  color: #fcfcfc;
  transition: 0.5s;
}

/* right area */
.footerDownRight {
  margin-right: 10%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-self: baseline;
}

.licontainer {
  margin-right: 30%;
}

.licontainer li {
  list-style-type: none;
  padding: 4px;
}

.icons li :hover {
  color: #f8f6ff;
}

ul {
  padding: 0;
  margin: 0;
}

.footerOptions {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.footerAbout {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 0.4rem;
  padding-right: 30%;
}

.optionsTitle {
  color: #fbfaf9;
  font-size: 1rem;
  font-weight: bold;
}

.options {
  color: #8496b1;
}

.footerline {
  margin: 2rem auto 30px;
  padding: 0;
  width: 100%;
  border: 0;
  border-top: solid 0.5px;
  border-color: #ffffff;
  opacity: 1;
}

.footerlineTwo {
  margin: 0rem auto 10px;
  padding: 0;
  width: 100%;
  border: 0;
  border-top: solid 1px;
  border-color: #ffffff;
  opacity: 1;
}

.copyright {
  display: flex;
  font-size: 13px;
  justify-content: center;
  color: #fffffe;
}



@media (max-width: 992px) {

  .icons {
    display: flex;
 height: 20%;
    margin: 0;
  }

  .footerDown{
  margin-bottom: 10%;
  }

  .footerAbout {
    width: 45%;
  }


}

/*手機*/

@media (max-width: 390px) {
 
  .headerTitle {
    white-space: nowrap;
    justify-content: center;
  }

  .icons {
    display: flex;
    justify-content: center;
  }


  .footerAbout {
    display: block;
    font-size: 6px;
    white-space: nowrap;
    width: 100%;
    justify-content: center;
    margin-bottom: 1rem;
    padding-right: 10%;
  }

  .footerOptions {
    
  }
.optionsTitle{
  font-size: 10px;
}
 
}

/*平板*/

@media (max-width: 768px) {
  .footer-down-right {
    flex-direction: column;
  }

  .footerOptions {
    height: 50%;
    display: flex;
 margin-top: 30%;
 margin-left: -90%;

  }

  .footerAbout {
    display: block;

  }



}